<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ERP System</title>
    <th:block th:replace="fragments/navigation :: head/link"/>
</head>
<body>
<div th:replace="fragments/navigation :: header"/>
<div th:replace="fragments/navigation :: left_menu"/>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Bordered table  start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Чертежи</h4>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" width="20%">Art</th>
                        <th scope="col" width="80%" colspan="2">Drawing</th>
                        <th scope="col" hidden width="5%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id = "role_line" th:each="drawing : ${drawings}">
                        <td id="drawing_art">
                            <a th:text="${@drawingService.getFileName(drawing)}"
                               th:href="@{/file_storage/download(id=${drawing.id})}" />
                        </td>
                        <td id="role_thumbs">
                            <span th:each="thumb : ${drawing.thumbnails}">
                                <img th:src="@{/file_storage/thumb/{id}(id=${thumb.id})}" width="48%" />
                            </span>
                        </td>
                        <td>
                            <form method="post" th:action="@{/file_storage/delete}">
                                <input type="text" hidden name="id" th:value="${drawing.id}">
                                <input
                                        type="submit"  class="btn btn-danger" value="X" data-toggle="tooltip"
                                        data-placement="right" title="Удалить чертеж"
                                />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <form method="POST" enctype="multipart/form-data" th:action="@{/file_storage/upload}">
                    <div class="form-group">
                        <label> Загрузить чертеж </label>
                        <input type="file" name="file" class="form-control-file form-control height-auto" id="file_input" onchange="getFileName();" />
                        <input type="text" name="filename" class="form-control" placeholder="Обозначение -- наименование" id="filename_input"/>
                        <input type="submit" value="Загрузить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <!-- Bordered table End -->

        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
        </div>
    </div>
</div>

<!-- js -->
<th:block th:replace="fragments/navigation :: body/script"/>

<script type="text/javascript">
function getFileName() {
    var filename = document.getElementById("file_input").value.split("\\").pop().split(".")[0];
    document.getElementById("filename_input").value = filename;
}
</script>

</body>
</html>