<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ERP System</title>
    <th:block th:replace="fragments/navigation :: head/link"/>
</head>
<body>
<div th:replace="fragments/navigation :: header"/>
<div th:replace="fragments/navigation :: left_menu"/>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Чертежи</h4>
                    </div>
                </div>

                <div id="accordion">

                    <div class="card" th:each="drawing : ${drawings}">
                        <div class="card-header">
                            <a th:href="@{/file_storage/download(id=${drawing.id})}"><i class="icon-copy dw dw-download2"></i></a>
                            <button class="btn btn-block collapsed"data-toggle="collapse"
                                    th:attr="data-target='#faq' + ${drawing.id}" aria-expanded="false" th:text="${@drawingService.getFileName(drawing)}">
                                Collapsible Group Item #1
                            </button>
                            <form method="post" th:action="@{/file_storage/delete}" th:id="${drawing.id} + '_delete_form'">
                                <input type="text" hidden name="id" th:value="${drawing.id}">
<!--                                <input type="submit"  class="fa fa-trash" value="X" data-toggle="tooltip"-->
<!--                                       data-placement="right" title="Удалить чертеж" />-->
                            </form>
                            <a href="#" th:onclick="'submit_form(\'' + ${drawing.id} + '_delete_form\'); return false;'"><i class="icon-copy dw dw-delete-3"></i></a>
                        </div>
                        <div th:id="'faq' + ${drawing.id}" class="collapse" data-parent="#accordion" style="">
                            <div class="card-body">
                                <span th:each="thumb : ${drawing.thumbnails}">
                                    <img th:src="@{'/file_storage/thumb/' + ${thumb.id}}" width="48%"/>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

                <form method="POST" enctype="multipart/form-data" th:action="@{/file_storage/upload}">
                    <div class="form-group">
                        <label> Загрузить чертеж </label>
                        <input type="file" name="file" class="form-control-file form-control height-auto" id="file_input" onchange="getFileName();" />
                        <input type="text" name="filename" class="form-control" placeholder="Обозначение -- наименование" id="filename_input"/>
                        <input type="submit" value="Загрузить" class="btn btn-primary" />
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

<!-- js -->
<th:block th:replace="fragments/navigation :: body/script"/>

<script type="text/javascript">
function getFileName() {
    var filename = document.getElementById("file_input").value.split("\\").pop().split(".")[0];
    document.getElementById("filename_input").value = filename;
}

function submit_form(form_id) {
    var form = document.getElementById(form_id);
    form.submit();
}
</script>

</body>
</html>