<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Список чертежей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
  	<table>
  		<tr th:each="drawing : ${drawings}">
			<td>
				<a th:text="${@drawingService.getFileName(drawing)}"
				   th:href="@{/file_storage/download(id=${drawing.id})}" />
			</td>
  			<td>
				<div style="float:left" th:each="thumb : ${drawing.thumbnails}">
  					<img th:src="@{/file_storage/thumb/{id}(id=${thumb.id})}" height="250"/>
  				</div>
			</td>
			<td>
				<a th:href="@{/file_storage/delete(id=${drawing.id})}"> Удалить </a>
			</td>
  		</tr>
  	</table>
  
  </body>

</html>