<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <title>ERP System</title>

    <th:block th:replace="fragments/navigation :: head/link"/>


</head>
<body>


<div th:replace="fragments/navigation :: header"/>
<div th:replace="fragments/navigation :: left_menu"/>



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Bordered table  start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Technologies</h4>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id = "t_line" th:each="t : ${technologies}">
                        <td id="t_id" th:text="${t.id}"/>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" th:href="@{'/technologies/edit/'+${t.id}}"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" th:href="@{'/technologies/delete/'+${t.id}}"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <a th:href="@{/technologies/add}" class="btn btn-primary"> <i class="icon-copy fi-plus"></i> Add new Technology </a>
                </div>
            </div>
            <!-- Bordered table End -->

        </div>

    </div>
</div>

<!-- js -->
<th:block th:replace="fragments/navigation :: body/script"/>

</body>
</html>